[core]
    editor = vi
    excludesFile = ~/.gitignore_global
[push]
    default = current
[alias]
    pick = cherry-pick -n -x
    hist = log --pretty=oneline
    rename = branch -m
    last = log -1 HEAD
    lasttwo = log -2 HEAD
    switch = checkout
    d = difftool
    sync = !sh -c 'git fetch origin master:master && git merge origin/master && git status'
    set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[pull]
    default = current
	rebase = false
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[lfs "customtransfer.bitbucket-media-api"]
    path = /usr/local/bin/git-lfs-bitbucket-media-api
[gpg]
    program = gpg
[http]
    sslVerify = false
[init]
	defaultBranch = master
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
