[user]
	name = Daniel Han
	email = daniel.han@scrive.com
[core]
	editor = vi
	excludesfile = /Users/daniel.han/.gitignore
[push]
	default = current
[alias]
        pick = cherry-pick -n -x
	hist = log --pretty=oneline
	rename = branch -m
	last = log -1 HEAD
	lasttwo = log -2 HEAD
	switch = checkout
	d = difftool
	sync = !sh -c 'git fetch origin master:master && git merge origin/master && git status'
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[pull]
	default = current
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[lfs "customtransfer.bitbucket-media-api"]
	path = /usr/local/bin/git-lfs-bitbucket-media-api
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
[http]
	sslVerify = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/daniel.han/.stCommitMsg
